# Imports

In [1]:
import os
import pandas as pd

# Extracci√≥n

In [2]:
# Critic Reviews

df_critic_reviews = pd.read_csv("Datasets/critic_reviews.csv/critic_reviews.csv")
df_critic_reviews.head(1)

,reviewId,creationDate,criticName,criticPageUrl,reviewState,isFresh,isRotten,isRtUrl,isTopCritic,publicationUrl,publicationName,reviewUrl,quote,scoreSentiment,originalScore,movieId
0,1912176,1966-07-30,Jennie Kermode,/critics/jennie-kermode,fresh,True,False,False,False,/critics/source/1869,Eye for Film,http://www.eyeforfilm.co.uk/reviews.php?id=7898,NaN,POSITIVE,4/5,7602d2ab-c9bc-3439-9cd6-d3a06e81728e

In [3]:
# Movies

df_movies = pd.read_csv("Datasets/movies.csv/movies.csv")
df_movies.head(1)

,movieId,movieTitle,movieYear,movieURL,movieRank,critic_score,audience_score
0,4517f650-c60a-4edc-b37e-9236213c2b93,Spider-Man: Into the Spider-Verse,2018,https://www.rottentomatoes.com/m/spider_man_in...,1,97%,94%

In [4]:
# User Reviews

df_user_reviews = pd.read_csv("Datasets/user_reviews.csv/user_reviews.csv")
df_user_reviews.head(1)

,movieId,rating,quote,reviewId,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,score,creationDate,userDisplayName,userRealm,userId
0,13905397-4673-3e05-954d-8840645bebc2,1.0,"Did.Not.Like.\n\nThis movie was boring, overse...",NaN,False,False,False,False,1.0,2001-03-07,NaN,RT,901245019